**Target**: `{{ query.equality[0] }} = {{ query.equality[1] }}`

**Proof strategy**:
```
{{ query.sketch }}
```

{% if query.partial_proof %}
**Steps proven so far**:
```yaml
{{ query.partial_proof | yaml }}
```
Write step **{{ (query.partial_proof.keys() | list | last) + 1 }}**.
{% else %}
No steps yet. Following the strategy, write step **1**.
{% endif %}
