{% if params.feedback.arg.step is not none %}
There was an error in your proof at step {{ params.feedback.arg.step }}:

"""
{{ params.feedback.arg.feedback }}
"""
{% else %}
Your proof was invalid:

"""
{{ params.feedback.arg.feedback }}
"""
{% endif %}