Current book:
{{ query.playbook }}

Incoming protected deltas and their binding/verification receipts:
{% for delta in query.deltas %}
{{ delta }}
{% endfor %}

Source witnesses:
{% for witness in query.witnesses %}
{{ witness }}
{% endfor %}
